.App {
  min-height: 100vh;
  background-color: hsl(150, 80%, 95%);

  display: grid;
  grid-template-rows: auto 1fr auto;

  justify-content: center;
  justify-items: stretch;
}

.App-header {
  margin: 16px 0;
}

.App-main {
  max-width: 800px;
}

.App-footer {
  max-width: 800px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
